@import './vars.css';

.pagintaionContainer {
  display: flex;
  justify-content: space-between;
}

.PaginationButton {
  background-color: var(--color-blue);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  cursor: pointer;
}

.PaginationButton:disabled {
  opacity: 70%;
  cursor: not-allowed;
}
